TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_CHAT_ID=replace_me
RUN_MODE=local

AZURE_CLIENT_ID=replace_me
AZURE_CLIENT_SECRET=replace_me
AZURE_TENANT_ID=replace_me
AZURE_SUBSCRIPTION_ID=replace_me

AZURE_RESOURCE_GROUP=rg-3tier-group4b-1pdu
APP_GATEWAY_NAME=appgw-group4b-1pdu
APP_GATEWAY_URL=https://group4b-demo-appgw.southeastasia.cloudapp.azure.com

SSH_USER=azureuser
SSH_KEY_PATH=/home/azureuser/.ssh/id_rsa

ANSIBLE_VM_NAME=vm-ansible-group4b-1pdu
ANSIBLE_VM_HOST=127.0.0.1

FRONTEND_VM_NAME=vm-frontend-group4b-1pdu
FRONTEND_VM_HOST=10.20.2.4

BACKEND_VM_NAME=vm-backend-group4b-1pdu
BACKEND_VM_HOST=10.20.3.4

SONARQUBE_VM_NAME=vm-sonarqube-group4b-1pdu
SONARQUBE_VM_HOST=4.193.171.24

BACKEND_HEALTH_URL=http://10.20.3.4:8080/api/ingredients
FRONTEND_HEALTH_URL=http://10.20.2.4/
SONARQUBE_HEALTH_URL=http://4.193.171.24:9000

CPU_THRESHOLD=70
SQL_CPU_THRESHOLD=80
CHECK_INTERVAL_SECONDS=60
ALERT_COOLDOWN_SECONDS=300

GEMINI_API_KEY=replace_me
GEMINI_MODEL=gemini-2.5-flash

GITHUB_TOKEN=replace_me
GITHUB_REPO=owner/repo
